.single-post-wrapper {
    .post-banner {
        @extend .site-width;
        
        .post-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;

            .post-date {
                margin-bottom: 15px;
            }
        }

        img {
            max-width: 50%;
            margin: 0 auto;

            @include lg-down {
                max-width: 100%;
            }
        }
    }
} 