.single-post-wrapper {
    .post-banner {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.4) 100%);
        }
    }

    .post-info {
        position: absolute;
        bottom: 0;
        padding-left: 50px;
        padding-bottom: 50px;
        color: var(--color-white);
        z-index: 10;
    }
}