// Handle all padding

:root {
  /* Spacing */
  /* ------ */
  --padding: 80px; /* Standard Padding */
  /* ------ */
  --ph: 80px; /* Padding Horizontal */
  --pv: 80px; /* Padding Vertical */
  /* ------ */
  --pt: 80px; /* Padding top */
  --pb: 80px; /* Padding bottom */
  --pl: 160px; /* Padding left */
  --pr: 160px; /* Padding right */
}

// padding
@each $size in $padding {
  .p-#{$size} {
    padding: $size +px;
  }
}

@include sm-down() {
  @each $size in $padding {
    .m-p-#{$size} {
      padding: $size + px;
    }
  }
}

// padding Vertical
@each $size in $padding {
  .pv-#{$size} {
    padding-top: $size + px;
    padding-bottom: $size + px;
  }
}

@include sm-down() {
  @each $size in $padding {
    .m-pv-#{$size} {
      padding-top: $size + px;
      padding-bottom: $size + px;
    }
  }
}

// padding Horizontal
@each $size in $padding {
  .ph-#{$size} {
    padding-left: $size + px;
    padding-right: $size + px;
  }
}

@include sm-down() {
  @each $size in $padding {
    .m-ph-#{$size} {
      padding-left: $size + px;
      padding-right: $size + px;
    }
  }
}

// padding Top
@each $size in $padding {
  .pt-#{$size} {
    padding-top: $size + px;
  }
}

@include sm-down() {
  @each $size in $padding {
    .m-pt-#{$size} {
      padding-top: $size + px;
    }
  }
}

// padding Bottom
@each $size in $padding {
  .pb-#{$size} {
    padding-bottom: $size + px;
  }
}

@include sm-down() {
  @each $size in $padding {
    .m-pb-#{$size} {
      padding-bottom: $size + px;
    }
  }
}

// padding Left
@each $size in $padding {
  .pl-#{$size} {
    padding-left: $size + px;
  }
}

@include sm-down() {
  @each $size in $padding {
    .m-pl-#{$size} {
      padding-left: $size + px;
    }
  }
}

// padding Right
@each $size in $padding {
  .pr-#{$size} {
    padding-right: $size + px;
  }
}

@include sm-down() {
  @each $size in $padding {
    .m-pr-#{$size} {
      padding-right: $size + px;
    }
  }
}
