// Handle screensize variables

:root {
  /* Break Points */
  /* ------ */

  --screen-ti: 280px;
  --screen-xs: 380px;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;
  --screen-hg: 1520px;
  --screen-ms: 1920px;
  --screen-smm: 2560px;
  --screen-smbh: 3840px;
}

/* Technical Parameters */
$screen-ti: 280px; /* Smallest Mobile | Galaxy Fold   - Tiny */
$screen-xs: 380px; /* Large Mobile                    - Extra Small */
$screen-sm: 576px; /* Mobile                          - Small */
$screen-md: 768px; /* Tablet                          - Medium */
$screen-lg: 992px; /* Tablet                          - Large */
$screen-xl: 1200px; /* Tablet / Small Desktop         - Extra Large */
$screen-hg:  1520px; /* Medium Desktop                 - Huge */
$screen-ms: -1920px; /* Regular Desktop 1080p / HD     - Super Massive */
$screen-smm: 2560px; /* Large Desktop                 - Super Massive Massive */
$screen-smbh: 3840px; /* 4k  */      