// Handle the .site-width

:root {
    --site-width-margin: 140;
}

.site-width {
    margin: 0 auto;
    max-width: calc(1905px);
    padding-left: $site-width-margin + #{px};
    padding-right: $site-width-margin + #{px};

    @include sm-down() {
        padding-left: $m-site-width-margin + #{px};
        padding-right: $m-site-width-margin + #{px};
    }
}
