// Import managing all site variables
$default-screen-width: 100%; /* Set the default screen width */

/* ********* Define Site Gutters *********/
$site-width-margin: 278; /* Desktop Left / Right Gutter */
$m-site-width-margin: 35; /* Mobile Left / Right Gutter */

/********* Define Gaps *********/
$gap: 0, 10, 30;

/********* Define Z-INDEX *********/
$zindex: 10, 20, 30, 40, 50, 60;

/********* Define Padding + Margin *********/
/* Padding: .p-10, .pv-10, .ph-10, .pt-10, .pl-10, .m-pt-10 */
$padding: 0, 10, 20, 30, 35, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 280, 400;
/* Margin: .p-10, .pv-10, .ph-10, .pt-10, .pl-10, .m-pt-10 */
$margin: 0, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 270;
/******** Define flex grow **********/
$flex: 0, 1, 2, 3, 4, 5;

// /********* Included SCSS files *********/
/* ---- Responsive Styles ---- */
@import "screen-size"; /* Define Custom Breakpoints Here */
@import "../_mixins/responsive-sizes";

/* ---- Colours, Fonts, Icons ---- */
@import "colours"; /* Define all colours here */
@import "fonts"; /* Define all fonts here */

// /* ---- Styles ---- */
@import "position";
@import "site-width";
@import "padding";
@import "margin";
@import "state";
@import "box-shadow";
@import "text-align";
@import "flex";
@import "display";
@import "gap";
@import "z-index";
@import "utils";

/* ---- */
@import "resets";
