.btn {
    background-color: var(--color-senary);
    padding: 20px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 250px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.yellow-link {
    color: var(--color-edit);
}

.blue-btn {
    background-color: var(--color-tertiary);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.green-btn {
    background-color: var(--color-add);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.red-btn {
    background-color: var(--color-delete);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.yellow-btn {
    background-color: var(--color-edit);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.button-front-end {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: var(--color-white);
  display: block;
  max-width: fit-content;

  @include sm-down {
    margin: 20px auto;
  }
}

.button-front-end:after {
  content: "";
  background-color: var(--color-primary);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-front-end:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-front-end {
    padding: 13px 50px 13px;
  }
}