.blue-btn {
    background-color: var(--color-tertiary);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.green-btn {
    background-color: var(--color-tertiary);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.red-btn {
    background-color: var(--color-tertiary);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}

.yellow-btn {
    background-color: var(--color-tertiary);
    padding: 10px 30px;
    color: var(--color-light-grey);
    opacity: 1;
    transition: all 300ms ease-in;
    display: block;
    max-width: 165px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @extend .fs-16;
    &:hover {
        opacity: 0.8;
    }
}