.post-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include lg-down {
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm-down {
        grid-template-columns: repeat(1, 1fr);
    }
}