.post-card {
    .post-card-img {
        height: 250px;

        @include xl-up {
            height: 400px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &:first-child {
        grid-column: 1/3;

        @include sm-down {
            grid-column: 1/1;
        }
    }
}