.admin-gallery-wrapper {
    .admin-gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-self: flex-start;
        margin: auto;
        
        .admin-gallery-img {
            height: 300px;
            display: block;
            overflow: hidden;
            background-color: var(--color-senary);

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                padding: 10px;
            }
        }
    }
}