.admin-gallery-wrapper {
    .admin-gallery {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-self: flex-start;
        padding: 0 50px 50px 50px;

        @include md-up() {
            grid-template-columns: repeat(2, 1fr);  
        }

        @include lg-up() {
            grid-template-columns: repeat(4, 1fr);   
        }
        
        .admin-gallery-img {
            height: 200px;
            display: block;
            overflow: hidden;
            border: 2px solid var(--admin-color-secondary);

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                padding: 10px;
            }
        }
    }
}