.admin-dashboard-top {
    align-self: flex-end;
    height: 50px;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 50%);

    .admin-sign-out {
        text-transform: capitalize;
        font-size: 12px;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .admin-sign-out-link {
        font-size: 10px;
        margin-left: 5px;
        &:hover {
            color: var(--color-light-red);
        }
    }
}