.admin-wrapper {
    height: 100vh;

    .admin-dashboard-wrapper {
        width: 75%;
        height: 100%;

        .admin-sign-out-link {
            font-size: 12px;
            margin-left: 5px;
        }
    }
}