.admin-nav {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    @include md-down() {
        width: 150px;
    }

    .admin-nav-wrapper-top {
        border-bottom: 1px solid rgb(238 226 220 / 20%);
    }

    .admin-logo {
        width: 100px;
        align-self: center;
    }


    .home-icon {
        fill: var(--color-light-grey);
    }

    .admin-open-site {
        color: var(--color-light-grey);  
    }

    .admin-nav-items {
        height: 100%;

        li {
            &:not(:last-child) {
                border-bottom: 1px solid rgb(238 226 220 / 20%);
            }

            a {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}