.admin-dashboard-top {
    align-self: flex-end;

    .admin-sign-out {
        text-transform: capitalize;
    }
    
    .admin-sign-out-link {
        font-size: 12px;
        margin-left: 5px;
    }
}