.admin-welcome {
    position: absolute;
    right: -200%;
    top: 20px;
    border-radius: 5px;
    z-index: 40;
    background-color: var(--admin-color-secondary);
    color: var(--admin-text-color-primary);
    box-shadow: 0px 9px 8px 0px #00000040;
    transition: 400ms ease-in-out;

    &:hover {
        opacity: .5;
    }

    &.active {
        right: 20px;
    }

    p {
        text-transform: capitalize;
        user-select: none;
    }
}