.admin-nav {
    height: 100%;
    width: 20%;

    .admin-logo {
        width: 80px;
        align-self: center;
    }


    .home-icon {
        fill: var(--color-light-grey);
    }

    .admin-open-site {
        color: var(--color-light-grey);  
    }

    .admin-nav-items {
        height: 100%;
        li a {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}