.general-settings-wrapper  {

    form {  
        max-width: 500px;

        .thumbnail-img {
            .edit-single-post-img {
                max-width: 60px;
            }

            .delete-img-icon {
                max-width: 20px;
            }
        }
    }

    .info {
        font-size: 12px;
        position: relative;
        bottom: 5px;
    }

    .tooltip {
        position: relative;
        display: block;
        cursor: pointer;
        max-width: 200px;
        
        .tooltiptext {
            border-radius: 6px;
            opacity: 0;
            padding: 10px;
            position: absolute;
            text-align: center;
            visibility: hidden;
            z-index: 1;
            top: -20px;
            max-width: 200px;
            left: 70px;
            background-color: var(--admin-color-secondary);
            color: var(--admin-text-color-primary);
            font-size: 10px;
        }

        &:hover {
            .tooltiptext {
                visibility: visible;
                opacity: 1;
                transition: all 0.3s ease-in;
            }
        }
    }


}