.posts-wrapper {
    .grid-head,
    .grid-body {
        grid-template-columns: repeat(3, 1fr);
    }

    .post-row {
        cursor: pointer;

        &:hover {
            .edit-link {
                display: block;
            }
        }

        .edit-link {
            display: none;
        }
    }

    
}