// Gap
@each $size in $gap {
    .gap-#{$size} {
        > * {
            margin-right: $size + px;
        }

        &:not(.flex-row-reverse) {
            > *:last-child {
                margin: 0px;
            }
        }

        &.flex-row-reverse {
            > *:first-child {
                margin: 0px;
            }
        }
    }
}

@include sm-down() {
    @each $size in $gap {
        .m-gap-#{$size} {
            > * {
                margin-right: 0px;
            }
        }
    }
}
