// Handle all margins

:root {
  /* Spacing */
  /* ------ */
  --margin: 80px; /* Standard Padding */
  /* ------ */
  --mh: 80px; /* Padding Horizontal */
  --mv: 80px; /* Padding Vertical */
  /* ------ */
  --mt: 80px; /* Padding top */
  --mb: 80px; /* Padding bottom */
  --ml: 160px; /* Padding left */
  --mr: 160px; /* Padding right */
}

// Margin
@each $size in $margin {
  .m-#{$size} {
    margin: $size + px;
  }
}

@include sm-down() {
  @each $size in $margin {
    .m-m-#{$size} {
      margin: $size + px;
    }
  }
}

// Margin Vertical
@each $size in $margin {
  .mv-#{$size} {
    margin-top: $size + px;
    margin-bottom: $size + px;
  }
}

@include sm-down() {
  @each $size in $margin {
    .m-mv-#{$size} {
      margin-top: $size + px;
      margin-bottom: $size + px;
    }
  }
}

// Margin Horizontal
@each $size in $margin {
  .mh-#{$size} {
    margin-left: $size + px;
    margin-right: $size + px;
  }
}

@include sm-down() {
  @each $size in $margin {
    .m-mh-#{$size} {
      margin-left: $size + px;
      margin-right: $size + px;
    }
  }
}

// Margin Top
@each $size in $margin {
  .mt-#{$size} {
    margin-top: $size + px;
  }
}

@include sm-down() {
  @each $size in $margin {
    .m-mt-#{$size} {
      margin-top: $size + px;
    }
  }
}

// Margin Bottom
@each $size in $margin {
  .mb-#{$size} {
    margin-bottom: $size + px;
  }
  @include sm-down() {
    .m-mb-#{$size} {
      margin-bottom: $size + px;
    }
  }
}

@include sm-down() {
  @each $size in $margin {
    .m-mb-#{$size} {
      margin-bottom: $size + px;
    }
  }
}

// Margin Right
@each $size in $margin {
  .mr-#{$size} {
    margin-right: $size + px;
  }
  @include sm-down() {
    .m-mr-#{$size} {
      margin-right: $size + px;
    }
  }
}

@include sm-down() {
  @each $size in $margin {
    .m-mr-#{$size} {
      margin-right: $size + px;
    }
  }
}

// Margin Left
@each $size in $margin {
  .ml-#{$size} {
    margin-left: $size + px;
  }
}

@include sm-down() {
  @each $size in $margin {
    .m-ml-#{$size} {
      margin-left: $size + px;
    }
  }
}

// Margin Horizontal Auto
.mh-auto {
  margin: 0 auto;

  @include sm-down() {
    .m-mh-auto {
      margin: 0 auto;
    }
  }
}

// Margin Vertical Auto
.mv-auto {
  margin: auto 0;

  @include sm-down() {
    .m-mv-auto {
      margin: auto 0;
    }
  }
}

// Margin Left Auto
.ml-auto {
  margin-left: auto;

  @include sm-down() {
    .m-ml-auto {
      margin-left: auto;
    }
  }
}

// Margin Right Auto
.mr-auto {
  margin-right: auto;

  @include sm-down() {
    .m-mr-auto {
      margin-right: auto;
    }
  }
}
