.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

@include sm-down() {
    .m-text-left {
        text-align: left;
    }

    .m-text-right {
        text-align: right;
    }

    .m-text-center {
        text-align: center;
    }

    .m-text-justify {
        text-align: justify;
    }
}
